apeer-dev-kit>=1.2.2,<2
cloudpickle>=2.0.0
dask>=2021.12.0
decorator>=5.1.1
networkx>=2.6.3
numpy>=1.22.0
PyWavelets>=1.2.0
scikit-image>=0.19.1
six>=1.16.0
toolz>=0.11.2
scipy>=1.7.0
tifffile>=2021.11.2