apeer-dev-kit>=1,<2
cloudpickle==0.6.1
dask==0.20.2
decorator==4.3.0
networkx==2.2
numpy==1.15.4
Pillow==6.2.0
PyWavelets==1.0.1
scikit-image==0.14.1
six==1.11.0
toolz==0.9.0
scipy==1.1.0
tifffile==2018.11.28